<% include assets/header %>


	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">All Posts</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">All Posts</h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Posts</div>
					<div class="panel-body">
						<table id="users-table" data-toggle="table" data-show-refresh="false" data-show-toggle="false" data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" data-sort-name="name" data-sort-order="desc">
						    <thead>
						    <tr>
						        <th data-field="id" data-sortable="true">Post #</th>
						        <th data-field="title"  data-sortable="true">Post Title</th>
						        <th data-field="author" data-sortable="true">Post Author</th>
						        <th data-field="action" data-sortable="true" class="text-center">Post Action</th>
						    </tr>
						    </thead>
							<tbody>
								<% 
									for(var i=0; i < posts.length; i++) { 
								%>
								<tr data-index="<%= i %>">
									<td><%= i %></td>
									<td><%= posts[i].title %></td>
									<td><span class="upper-case"><%= posts[i].by %></span></td>
									<td class="text-center">
										<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal<%= i %>">
											<i class="glyphicon glyphicon-trash"></i>
										</button>
										<a href="edit-post?postId=<%= posts[i]._id %>" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
		
	</div><!--/.main-->


<% 
	for(var i=0; i < posts.length; i++) { 
%>
<div class="modal fade" id="myModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Post</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to <b>DELETE</b> this post
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<form action="all-posts/<%= posts[i]._id %>?_method=DELETE" method="POST" style="display: inline">
			<input type="hidden" value="<%= posts[i]._id %>" name="deleteThisPostId">
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
      </div>
    </div>
  </div>
</div>
<% } %>

<% include assets/footer %>